@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 62.5%;
  height: 100vh;
}

.content {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 200px;
  padding: 10px;
}

.title {
  color: #1f1f1f;
  letter-spacing: 0.4rem;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}
